---
title: Архив
description: All posts published since the start of of the blog back in 2020.
eleventyNavigation:
  key: Архив
  order: 2
---

<h2 id='chronological-archive'>Архив статей по годам</h2>

<p>Выберите год чтобы просмотреть статьи за этот период</p>

{% include partials/archive.njk %}

{% include partials/tag-list.njk %}
