---
title: RSS
description: Для олдфагов, которые ещё помнят как пользоваться RSS и Atom feeds
eleventyNavigation:
  key: RSS
  order: 3
---

<p>Добавь <strong>{{ siteConfig.site.title }}</strong> в читалку новостей, чтобы не пропустить обновления.</p>

{% include "partials/feed-list.njk" %}
